@CHARSET "UTF-8";


/*font 관련*/
@font-face {

    font-family:'NanumGothic';

    src: url('images/NanumGothic.eot');

    src: url('images/NanumGothic.eot?#iefix') format('embedded-opentype'),

         url('images/NanumGothic.woff') format('woff'),

         url('images/NanumGothic.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}

body {
font-family:'맑은고딕' 'NanumGothic', 'MalgunGothic';

}


select{ 
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
}	


.btns {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#5a6aa6), to(#65a9d7));
   background: -webkit-linear-gradient(top, #5a6aa6, #65a9d7);
   background: -moz-linear-gradient(top, #5a6aa6, #65a9d7);
   background: -ms-linear-gradient(top, #5a6aa6, #65a9d7);
   background: -o-linear-gradient(top, #5a6aa6, #65a9d7);
   padding: 5.5px 11px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.btns:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.btns:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


    ul li{ padding: 0; margin: 0;}
    li {list-style:none;}
    a {text-decoration:none;}
    a:VISITED { color: black; }

    .tab-tit { width: 250px; }
    .tab-tit select{ width: 150px; }
    .s_catego { width: 250px; }
    .s_catego select{ width: 150px }
    #s_cat{display: list-item; z-index: 999;}

#t_contents{
    width: 960px;
    margin: 0px 120px;
    display: block;
    position: absolute;
    text-align: center;
    top: 300px;
}

	
#input_b{
    height: 10px; text-align:center;
    float: left;
}

#selection{
	width: 960px;
	margin-left: 30px;
	height: 120px;
	
}

#select_m{ width: 700px; float: left; }
}

#selection td {
	height: 30px;
}

#ac_list{
	width: 960px;
	padding: 0px;
	margin-top: 20px;
	
}

.ac_list{

    
    top: 40px;
    width: 920px;
    height: 150px;
    border: 1px solid #CCCCCC;
    margin: 10px 10px;
    padding: 10px 10px;
}

}
.lctg{
  display: inline-block;

}

.t_mainl
	{
	float:left;
	text-align: left;
	width:240px;
	/*background-color: #D1F0FF;*/
	height: 150px;
	
	}

.t_mainc
	{
	float: left;
	width:680px;
	/*background-color: #e0e0e0;*/
	height: 150px;
	
	}

.list_contents {
    width: 100%;
    height: 170px;
}

	
.box1r
	{
	text-align: left;
	width:700px;
	height: 50px;
	}

.box2r
	{
	text-align: left;
	width:700px;
	height: 50px;
	}
.box3r
	{
	text-align: left;
	width:700px;
	height: 50px;
	}
.off{
  display: none;
}

/******************* pagination 관련*******************/

.paging { padding: 0px; }

.simplePagerNav{
    margin-top: 100px;
}

ul.simplePagerNav li{
    
    display:inline;
    margin-right: 10px;
    font-size: 1.3em;
}

ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
	background: red;
    background: #83bd63;	
}

ul.simplePagerNav li.currentPage a {
	color: #fff;	
}

table.pageme {
    border-collapse: collapse;
    border: 1px solid #ccc;
}  

table.pageme td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}      

ul.paging  li.sticky {
	background-color: red !important;
	display: block !important;
}