@CHARSET "UTF-8";

#bo1{
   border: none;
   padding-left: 50px;
/*   border-color: white; */
}

#bo1 tr td{
   border-left: none;
   border-right: none;
   padding-top: 15px;
   padding-bottom: 15px;
   
}

#o_mid{
	border : none;
}
#o_irum{
	border : none;
}
#o_email{
	border : none;
}
#o_code{
	border : none;
}
#o_address{
	border : none;
}
#o_phone{
	border : none;
}
#o_point{
	border : none;
}
#o_chk{
	border : none;
}
/* input */
#input label{
	display: inline-block;
	width: 86px;
	text-align: right;
}

.title{
	border:solid 1px #A6A6A6;
	border-top:solid 2px #191919;
	
	color:#191919;
}
#search{
	margin-bottom:30px;
	margin-left:514px;
	
}
.row>span{
	display: inline-block;
	line-height: 33px;
}

.row > span:nth-child(1) { width:80px;}
.row > span:nth-child(2) { width:150px;}
.row > span:nth-child(3) { width:330px;}
.row > span:nth-child(4) { width:100px;}
.row > span:nth-child(5) { width:100px;text-align: right;}

/*짝수번째 줄의 바탕 */
.item:nth-child(2n){
	background-color: #efefef;
}

/* 마우스 오버시 밑줄 */
.item:hover{
	border-bottom-width:1px;
	border-bottom-style:solid;
}

#search_div{
	text-align: right;
	margin-bottom:5px;
	overflow: hidden;
}
#ohh{
	margin-top:41px;
}
/* 학생 정보 입력 버튼 */
#search_div #btnInsert{
	float:left;
}

#page_div{
	text-align: center;
	line-height: 8pt;
}
#page_div input{
	font-size:8pt;
	border-radius:5px;
}
