@charset "EUC-KR";
/*reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, select, input, textarea {border: 0; margin: 0; padding: 0; vertical-align: baseline; }
body, input, textarea, select, td {color: #000000; font-family: 'Cinzel Decorative'; font-size: 12px; }
h1, h2, h3, h4, h5, h6 {font-size: 12px; }
h1, h2, h3, h4, h5, h6, strong {font-weight: bold; }
a {color: #000000; text-decoration: none; cursor:pointer;}
a:hover {text-decoration:none;}
em {font-style: normal; }
ol, ul {list-style: none; }
table {border-collapse: collapse; border-spacing: 0; margin: 0; outline: 0; }
legend,caption,.hide{position:absolute;overflow:hidden;visibility:hidden;height:0;font-size:0;line-height:0}
th, td {font-weight: normal; }
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
blockquote:before, blockquote:after,q:before, q:after {content: ""; }
blockquote, q {quotes: ""; }

/*layout css*/
body{background:#2d3443;}
.wrap{width:100%;min-width:1000px;}
.sk{width:100%;min-width:1000px;overflow:hidden;}
.sk .cont{max-width:1000px;margin:0 auto;}
.clear:after{clear:both;content:"";display:block;}
.fl{float:left;}
.fr{float:right;}

/*common css*/
.header{position:fixed;top:0;left:0;background:url(img/h_bg.png) repeat 0 0; width:100%; border-bottom:2px solid #fff;z-index:10;}
.header .navi{width:1000px; margin: 0 auto;}
.header .navi li{display:inline-block; width:auto;height:90px;margin-left:186px;font-size:24px;}
.header .navi li:first-child{margin-left:0px;}
.header .navi li a{color:#fff;line-height:90px;}

.sk01{height:531px;background:url("img/skin01.jpg") no-repeat center 0; border-bottom:1px solid #020303;}
.sk02{min-height:330px;}
.sk03{min-height:531px;background-color:black;position:absolute; z-index=1; top:-531px; border-bottom:1px solid #020303;}
.sk04{position:absolute;top:92px;background-color:#fff;height:0px;}
.sk05{position:absolute;top:92px;background-color:#fff;height:0px;}

.sk02 .cont{overflow:hidden;}
.sk02 .mo{color:#fff;float:right;margin: 44px 10px 6px;}
.sk02 .list_area ul{width:1020px;height:241px;margin-left:-10px;overflow:hidden;}
.sk02 .list_area ul li{position:relative;float:left;width:318px;height:199px; border:1px solid #252832;margin: 0 10px 64px;} 
.sk02 .list_area ul li .over{display:none;position:absolute;top:0;left:0;width:318px;height:199px;line-height:2.8em;background:rgba(0, 0, 0, 0.5)}
.sk02 .list_area ul li .over em{display:block;color:#fff;font-size:20px;font-weight:bold;text-align:center;margin-top:60px;}
.sk02 .list_area ul li .over span{display:block;color:#fff;font-size:13px;font-weight:bold;text-align:center;}
.sk02 .list_area ul li:hover{border:1px solid #fff; box-shadow:5px 6px 20px rgba(255,  255, 255, 0.6); }
.sk02 .list_area ul li:hover .over{display:block;}

.sk03 .about_area{background:url(img/about.png) no-repeat 570px center;background-size:260px auto; width:1000px; margin:150px auto 0; height:300px;}
.sk03 .about_area .ab_text{width:410px;text-align: right;line-height: 25px;font-size:13px;padding-top:55px;margin-left:120px;}
.sk03 .about_area p{color:#fff;margin-bottom:15px;}
.sk03 .about_area p:first-child{font-size:18px;font-weight:bold;}


/*contactme*/
.sk04 .contact_area {text-align:center;}
.sk04 .contact_area .tit {font-size:60px; line-height: 1em;margin:30px 0 20px;}
.sk04 .contact_area .sns_area a.sns {background:url(img/sns_icon.png) no-repeat 0 0;display:inline-block; margin:0 7px; vertical-align: middle;width:50px;height:50px;border-radius:25px;font-size:0;}
.sk04 .contact_area .sns_area a.sns_facebook {background-position:0 0;}
.sk04 .contact_area .sns_area a.sns_twitter {background-position:-51px 0;}
.sk04 .contact_area .sns_area a.sns_blog {background-position:-102px 0;}
.sk04 .contact_area .sns_area a:hover.sns_facebook{background-position:0 -51px;}
.sk04 .contact_area .sns_area a:hover.sns_twitter {background-position:-51px -51px;}
.sk04 .contact_area .sns_area a:hover.sns_blog {background-position:-102px -51px;}

.sk04 .mail {max-width:500px; min-width:300px; padding:0 10px; text-align: left; margin: 20px auto 0;}
.sk04 .mail label{display:block;font-size:25px;line-height:1.2em;margin-bottom:5px;}
.sk04 .mail input{width:98%;min-width:288px;max-width:488px;padding:5px 1%;height:20px;margin-bottom:20px;border:1px solid #adacac; border-radius: 5px;margin-left:-1px;}
.sk04 .mail input:hover{border:1px solid #333;}
.sk04 .mail textarea {width:98%;min-width:288px;max-width:488px;padding:5px 1%;height:300px;border:1px solid #adacac;border-radius: 5px;margin-left:-1px;}


/*loading css*/
.loading_area {position:fixed;top:0;left:0;width:100%;height:100%;background-color:#273248; display:none;}
.loading{position:absolute;top:50%;left:50%;width:184px;height:184px;margin:-92px 0 0 -92px;}
.ring-1 {width:170px;height:170px;border:7px dashed #fff;border-radius:100%;animation: loading 3.5s 1.3s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loading {
   0 {transform: rotate(0deg);}
   50% {transform: rotate(180deg);}
   100% {transform: rotate(360deg);}
}

/*main css*/


/*sub css*/