@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {font-size:10px; font-family: NanumBarunGothic, "돋움", dotum, sans-serif;color:#333}
body, div, p, ul, li, ol, fieldset, img, h3, h2, h1, h4, h5, h6 { margin:0;padding:0; border:0;  line-height: 1.6;  font-family: nanumgothic, "돋움", dotum, sans-serif; }
ul, li, ol{list-style:none;}
a {text-decoration:none;}
a:visited{color:black;}

.wrap{width:1000px; margin: 0 auto;}

.tab_bar{width:100%;border-bottom:1px solid #e0e0e0;}
.tab_bar:after{clear:both; display:block; content:"";}
.tab_bar ul {width:auto; float:right;}
.tab_bar ul:after{clear:both; display:block; content:"";}
.tab_bar ul li{float:left; font-size:12px; margin:5
px 0 5px 5px;}

.header {width:100%;text-align:center;}
.header .menu{background-color:#3399ff; height:40px;}
.header .menu ul:after{clear:both; display:block; content:"";}
.header .menu ul li{float:left; display:table; width:200px; height:40px; font-size:16px; font-weight:bold; }
.header .menu ul li a {color:#ffffff; display:table-cell; vertical-align:middle;}

.content{margin:15px 0; min-height:500px;}
.content .wrap:after{clear:both;display:block; content:"";}
.content .wrap div{float:left;}

.content .wrap .left{ width:188px; border: 1px dotted #000033; padding: 5px 5px 5px 5px; text-align:justify;}
.content .wrap .left h3 {font-size:15px;}
.content .wrap .left .color{color:#ff9966;}

.content .wrap .main{width:480px;margin-left:10px; margin-right:10px;}
.content .wrap .main h3{ border-left:5px solid #3399ff; font-size:15px; padding-left:5px; line-height:14px;}
.content .wrap .main div {background-image:url(images/croatia_04.png); width:100%}
.content .wrap .main div:after{clear:both; display:block; content:"";}
.content .wrap .main p {width:50%; float:right; text-align: justify;}
.content .wrap .right{width:288px; border: 1px dotted #000033; padding: 5px 5px 5px 5px; text-align:justify;}

.content .right .but_area {background-color:#eee; padding:5px;}
.content .right .but_area div{width:100%; text-align:center;}
.content .right .but_area .top p {margin-bottom:5px;}
.content .right .but_area .top label{width:30px; display:inline-block; vertical-align:middle; width:52px; text-align:left;}
.content .right .but_area .top input{vertical-align: middle;}
.content .right .but_area .bottom input{width:75px;}

.footer {position:relative; width:100% }
.footer .wrap {/*position:absolute; bottom:-98px; left:50%; margin-left:-500px;*/ background-color:#eee;}
.footer h3{text-align:center; font-size:18px; padding:5px 0;} 
.footer h3 a {color:gray;}
.footer .map {display:none;}
.footer .map ul:after{clear:both; display:block; content:"";}
.footer .map > ul > li {float:left; width:190px; padding-left:10px;text-align:center;}

.footer .map > ul > li h4 a{color:#3399ff; font-size:14px;}
.footer .map ul li ul {padding:5px 0; }
.footer .map ul li ul li{margin-bottom:5px; font-size:11px;}

.footer .wrap .copyright {text-align:center; background-color:#3399ff; padding: 10px 0;}
.footer .wrap .copyright p {font-size:13px; color:#ffffff;}
/*aboutcro*/

.about .wrap .aside{width:208px; text-align:center; border:0}
.about .wrap .aside h3{font-size:15px; color:#0099ff;}
.about .wrap .cnt_a{width:750px;}