@charset "utf-8";

/* 리셋 CSS */
@import url(pc_reset.css);

/* 테이블 #tbl  */

caption { text-indent: -99999px; font-size: 0; line-height: 0; }
table { border-collapse: collapse;}

.content { margin: 40px auto; width: 90%; }

#tbl { border-top: 2px solid #999; border-bottom: 1px solid #999;}
#tbl th, #tbl td { padding: 8px; border-bottom: 1px solid #ddd;  text-align: center; }
#tbl thead th { background-color: #fafafa; color: #333; }
#tbl tbody td { color: #666; }
#tbl tbody td.txtLeft { text-align: left; }

.paginate { padding-top: 10px; text-align: center; }
.paginate a { padding: 0 4px; }
.direction span { color: #f00; }

#tbl2 { margin-bottom: 20px; border-top: 2px solid #999; border-bottom: 1px solid #999; width:100%;}
#tbl2 th, #tbl2 td { padding: 8px; border-bottom: 1px solid #ddd; }
#tbl2 th { background-color: #fafafa; color: #333; }
#tbl2 td { color: #666; }

.blog{padding-top:130px;}