@CHARSET "UTF-8";
/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {font-family:'NanumGothic', 'SimHei', 'Tahoma', 'arial'; border:0 none; margin:0; padding:0;}
body, input, button, textarea, select {font-family:'NanumGothic', 'SimHei', 'Tahoma', 'arial'; color:#222; line-height:18px; font-size:13px; margin:0; padding:0;}
table {width:100%; border-collapse:collapse;}
select, input, img {vertical-align:top;}
select {color:#4a4a4a; font-family:'NanumGothic', 'SimHei', '맑은 고딕', '돋움', ​dotum;}
-ms-select {color:#4a4a4a; font-family:'NanumGothic', 'SimHei', '맑은 고딕', '돋움', ​dotum;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;}
ul, li, ol {list-style-type:none;}
hr {display:none;}
legend {position:absolute; z-index:-1; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
caption {z-index:-1; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
a {color:#1e1e1e; font-family:'NanumGothic', 'SimHei', 'Tahoma', 'arial'; text-decoration:none;}
a:hover {text-decoration:underline;}
a:focus {outline:1px dotted #aaa; text-decoration:underline;}

.blind {overflow:hidden; font-size:0; line-height:0; position:absolute; height:0; width:0;}
.t_l {text-align: left !important;}
.t_c {text-align: center !important;}
.t_r {text-align: right !important;}
.c_dark {color: #222 !important;}
.c_strong {color: #da2226 !important;}
.c_light {color: #777 !important;}
.f_l {float: left;}
.f_r {float: right;}

/* input */
input[type="text"], input[type="password"], .select, textarea {border: 1px solid #cbcbcb; padding: 6px 9px; background-color: #fff;}
input[type="text"], input[type="password"], .select {display: inline-block; height: 20px; vertical-align: top;}
input[type="radio"], input[type="checkbox"] {width: 18px; height: 18px; margin-right: 10px; vertical-align: middle;}
input[disabled="disabled"], input[disabled] {background: #eee;}
.select select {border: 0 none; vertical-align: top;}
.option_wrap * + .option {padding-left: 20px;}
.option_wrap + .option_wrap {margin-top: 10px;}
.option_wrap .option label + input {margin-left: 20px;}
.inp_txt,
.guide_txt,
.tbl_wrap .option {display: inline-block; padding: 7px 0; vertical-align: top;}
.inp_txt {width: 14px; text-align: center;}
span.guide_txt {padding-left: 10px; color: #777;}
div.guide_txt {display: block; color: #777;}
.guide_txt .error {color: #da2226;}
.guide_txt .pass {color: #0344e9;}
.tbl_wrap * + .option {padding-left: 20px;}
.tbl_wrap .option label + input {margin-left: 20px;}
.option_wrap label, .option_wrap .label {margin-right: 5px; font-size: 15px; font-weight: bold; line-height: 32px;}
.attach_button {position:relative}
.attach_button .attach_file {position:absolute;top:0;left:0;display:inline-block;width:100%;height:100%;margin:0;line-height:0;border:0 none;opacity:0;filter:alpha(opacity=0);cursor:pointer}

/* button */
.button {display: inline-block; text-align: center; background-color: #333;}
.button a, .button em {display: block; min-width: 55px; padding: 7px 19px; font-weight: bold; font-size: 13px; line-height: 20px; color: #fff;}
.button.strong {background-color: #bf1b1e;}
.button.light {background-color:#727272;}
.button.search a {min-width: 36px;}
.button.cam_jongro a, .button.cam_gangnam a, .button.cam_sinchon a {min-width: 35px;}
.button.cam_jongro {background-color: #f6636a;}
.button.cam_gangnam {background-color: #4cb88e;}
.button.cam_sinchon {background-color: #8775ba;}
.button.class_info {width: 200px; border: 1px solid #8d8d8d; background: url('../images/btn/search_list_bg.gif') repeat-x 0 -24px #a3a3a3;}
.button.class_info a {padding: 6px 0;}

/* bullet & icon (background-image) */
.bul {display: inline-block; background-image: url('../images/common/spr_common.png'); background-repeat: no-repeat; text-indent: -999em;}
.bul.close {width: 20px; height: 20px; background-position: -40px -50px;}
.bul.open {width: 20px; height: 20px; background-position: -60px -50px;}
.bul.cam_jongro {width: 31px; height: 16px; background-position: -200px 0;}
.bul.cam_gangnam {width: 31px; height: 16px; background-position: -200px -30px;}
.bul.cam_sinchon {width: 31px; height: 16px; background-position: -200px -60px;}
.bul.qna_wait {width: 41px; height: 16px; background-position: -200px -90px;}
.bul.qna_compl {width: 41px; height: 16px; background-position: -200px -120px;}
.bul.inquire {width: 66px; height: 16px; background-position: -200px -150px;}
.bul.faq_q {width: 13px; height: 16px; background-position: -3px -52px;}
.bul.faq_a {width: 7px; height: 16px; background-position: -27px -52px;}
.bul.rating {width: 96px; height: 15px; background-position: 0 -70px;}
.bul.rating em.bul {display: block; width: 0px; height: 15px; background-position: 0 -90px;}
.bul.facebook, .bul.facebook2 {width: 21px; height: 21px; background-position:0 -200px;}
.bul.blogger, .bul.blogger2 {width: 21px; height: 21px; background-position:-40px -200px;}
.bul.youtube, .bul.youtube2 {width: 21px; height: 21px; background-position:-80px -200px;}
.bul.instagram, .bul.instagram2 {width: 21px; height: 21px; background-position:-120px -200px;}
.bul.patbbang, .bul.patbbang2 {width: 21px; height: 21px; background-position:-160px -200px;}
.kor_button{width:100%; margin:60px 350px 120px 350px;}
.kor_button ul li{width: 85px; height: 85px; display:inline;}
.kor_button ul li a{width: 85px; height: 85px;  background:url('../images/common/spr_kor.png'); background-repeat: no-repeat; float: left; text-indent: -999em;}
.kor_button ul .kor_home a{width: 85px; height: 85px; background-position:0 0; margin-right:50px;}
.kor_button ul .kor_blog a{width: 85px; height: 85px; background-position:-135px 0; margin-right:50px;}
.kor_button ul .kor_facebook a{width: 85px; height: 85px; background-position:-270px 0; margin-right:50px;}
.kor_button ul .kor_meetup a{width: 85px; height: 85px; background-position:-405px 0;}
/* .bul.facebook2 {width: 21px; height: 21px; background-position:0 -240px;}
.bul.blogger2 {width: 21px; height: 21px; background-position:-40px -240px;}
.bul.youtube2 {width: 21px; height: 21px; background-position:-80px -240px;}
.bul.instagram2 {width: 21px; height: 21px; background-position:-120px -240px;} */
.bul.util_login {width: 20px; height: 21px; background-position:0 -280px;}
.bul.util_modify {width: 20px; height: 21px; background-position:-40px -280px;}
.bul.util_mypage {width: 20px; height: 21px; background-position:-20px -280px;}
.bul.util_customer {width: 20px; height: 21px; background-position:-60px -280px;}
.bul.util_timetable {width: 56px; height: 18px; background-position:0 -310px;}
.bul.util_lecture {width: 66px; height: 18px; background-position:0 -330px;}
.bul.util_notice {width: 66px; height: 18px; background-position:0 -350px;}
.bul.util_mynote {width: 75px; height: 75px; background-position:0 -390px;}
/*.bul.util_search {width: 75px; height: 75px; background-position:-75px -390px;}*/
.icon {display: inline-block; width: 50px; height: 50px; background-image: url('../images/common/spr_campus.png'); background-repeat: no-repeat; background-position: 0 0; font-size: 15px; font-weight: bold; text-align: center; color: #fff; line-height: 50px;}
.icon.cam_jongro {background-position: 0 -60px;}
.icon.cam_gangnam {background-position: 0 -120px;}
.icon.cam_sinchon {background-position: 0 -180px;}
.files_area a {padding-left: 18px; background: url("../images/common/icon_file.png") no-repeat 0 0; color: #da2226;}
.files_area .doc {background-position: 0 -30px;}
.files_area .voice {background-position: 0 -60px;}
.files_area .img {background-position: 0 -90px;}
.files_area .compress {background-position: 0 -120px;}
.files_area .print {padding-left: 23px; background-position: 0 -150px;}

/* bullet(no background-image) */
.qna_state, .bul_state {display: inline-block; width: 94px; border: 1px solid #666; font-size: 12px; line-height: 22px; text-align: center; color: #666;}
.qna_state.compl, .bul_state.compl {border: 1px solid #bf1b1e; color: #bf1b1e;}
.bul_txt, .bul_txt_s {display: inline-block; min-width: 61px; font-size: 11px; line-height: 16px; color: #fff; background-color: #da2226; text-align: center; vertical-align: 1px; letter-spacing: -1px; border-radius: 3px;}
.bul_txt:before, .bul_txt:after, .bul_txt_s:before, .bul_txt_s:after {content:''; display: inline-block; width: 5px; height: 16px; vertical-align: top;  background-image: url("../images/common/spr_common.png"); background-repeat: no-repeat;}
.bul_txt:before, .bul_txt_s:before {float: left; background-position: -400px 0;}
.bul_txt:after, .bul_txt_s:after {float: right; background-position: 100% -20px;}
.bul_txt_s, .bul_txt.normal {min-width: 31px;}
.bul_txt.normal {background-color: #777;}
.bul_txt.normal:before {background-position: -400px -40px;}
.bul_txt.normal:after {background-position: 100% -60px;}
.bul_txt.cam_jongro {min-width: 31px; background-color: #f6636a;}
.bul_txt.cam_jongro:before {background-position: -400px -80px;}
.bul_txt.cam_jongro:after {background-position: 100% -100px;}
.bul_txt.cam_gangnam {min-width: 31px; background-color: #4cb88e;}
.bul_txt.cam_gangnam:before {background-position: -400px -120px;}
.bul_txt.cam_gangnam:after {background-position: 100% -140px;}
.bul_txt.cam_sinchon {min-width: 31px; background-color: #8775ba;}
.bul_txt.cam_sinchon:before {background-position: -400px -160px;}
.bul_txt.cam_sinchon:after {background-position: 100% -180px;}

/* paging */
.paging a, .paging strong {display: inline-block; vertical-align: middle; text-align: center;}
.paging {text-align: center;}
.paging > a, .paging a, .paging strong {width: 30px; height: 30px;}
.paging > a {border: 1px solid #ddd;}
.paging a, .paging strong {line-height: 32px;}
.paging strong {color: #bf1b1e;}
.paging .first,
.paging .prev,
.paging .next,
.paging .last {margin: 0 2px; background-image: url('../images/common/spr_common.png'); background-repeat: no-repeat;}
.paging .first {background-position: -5px -6px;}
.paging .prev {background-position: -45px -6px;}
.paging .next {background-position: -85px -6px;}
.paging .last {background-position: -125px -6px;}

/* tab */
.tab {overflow: hidden;}
.tab li {float: left; width: 20%; text-align: center;}
.tab li a {display: block; border: 1px solid #ddd; line-height: 16px; padding: 18px 0; margin-left: -1px; font-size: 14px;}
.tab li:first-child a {margin-left: 0;}
.tab li.on {position: relative; border-top: 2px solid #da2226; background-color: #FFEDED; z-index: 1;}
.tab li.on a {border-top: 0 none; border-bottom: 0 none; padding: 17px 0 19px; font-weight: bold; color: #e01b22;}
.tab.type_2ea li {width: 50%;}
.tab.type_3ea li {width: 400px;}
.tab.type_4ea li {width: 25%;}
.tab.type_5ea li {width: 20%;}
.tab.type_6ea li {width: 200px;}
.tab.type_7ea li {width: 171px;}
.tab.type_7ea li:first-child {width: 174px;}
.tab.type_8ea li {width: 150px;}
.tab.type_9ea li {width: 133px;}
.tab.type_9ea li:first-child {width: 136px;}
.tab.type_10ea li {width: 10%;}


.sub_tab .tab {margin-bottom: 20px; border-bottom: 2px solid #da2226;}
.sub_tab .tab li {background-color: #f4f4f4;}
.sub_tab .tab li a {padding: 16px 0; font-weight: bold; color: #777; border: 1px solid #ddd;}
.sub_tab .tab li.on {background-color: #da2226; border: 0 none;}
.sub_tab .tab li.on a {color: #fff; border-color: #da2226;}

.sub_tab2 .tab li {border-bottom: 2px solid #da2226; background-color: #f4f4f4;}
.sub_tab2 .tab li a {border-bottom: 0 none; color: #777;}
.sub_tab2 .tab li.on {border: 0 none; background-color: #fff;}
.sub_tab2 .tab li.on a {padding: 17px 0 20px; border: 2px solid #da2226; border-bottom: 0 none; color: #da2226;}

/* table */
.tbl_title {margin-bottom: 15px; font-size: 18px; font-weight: bold;}
.tbl_wrap {border-top: 1px solid #222;}
.tbl_wrap th, 
.tbl_wrap td {border-bottom: 1px solid #dcdcdc}
.tbl_wrap .text_area th,
.tbl_wrap .text_area td {border: inherit;}
/* .tbl_wrap > table > tr > th,
.tbl_wrap > table > thead > tr > th,
.tbl_wrap > table > tr > td,
.tbl_wrap > table > tbody > tr > td {border-bottom: 1px solid #dcdcdc} */
.tbl_wrap thead th {padding: 15px 0;}
.tbl_wrap tbody th {background-color: #fafafa;}
.tbl_wrap tbody td.check input {margin: 0;}
.tbl_wrap tbody td.btn_cell,
.tbl_wrap tbody td.btn_col {padding: 12px 0;}
.tbl_wrap tbody td.btn_col .button + .button {margin-top: 4px;}
.tbl_wrap tbody td.class_info {text-align: left;}
.tbl_wrap tbody td.class_info .time em {font-size: 12px;}
.tbl_wrap tbody td.class_info .time .bul_txt,
.tbl_wrap tbody td.class_info .time .bul_txt_s {margin-right: 3px;}
.tbl_wrap tbody td.class_info .name a {color: #777;}
.tbl_wrap tbody td.class_info .name .lecture {display: block; margin-bottom: 7px; color: #222;}
.tbl_wrap tfoot th, .tbl_wrap table tfoot td {background-color: #fafafa;}
.tbl_wrap td li {margin-top: 10px; text-align: left;}
.tbl_wrap td li:first-child {margin-top: 0;}
.tbl_wrap .no_data_message {margin: 100px 0; padding-top: 90px; font-weight: bold; font-size: 20px; background: url('../images/common/no_data.png') no-repeat 50% 0; color: #222;}
.tbl_wrap .title {text-align: left; line-height: 14px;}
.tbl_wrap .title .bul_txt {margin-right: 10px; vertical-align: 1px; white-space: normal;}
.tbl_wrap .btn_area {text-align: right;}
.tbl_wrap .paging {padding-top: 16px;}

.tbl_wrap.type_info thead th {background-color: #fafafa;}
.tbl_wrap.type_info thead tr:first-child th {border-top: 0 none;}
.tbl_wrap.type_info th, .tbl_wrap.type_info td {border: 1px solid #ddd; font-size: 14px;}
.tbl_wrap.type_info td {padding: 20px; text-align: center;}
.tbl_wrap.type_info td.discount {white-space: nowrap;}
.tbl_wrap.type_info td.discount em {color: #da2226;}
.tbl_wrap.type_list table { table-layout: fixed;}
.tbl_wrap.type_list td {padding: 15px 0; text-align: center;}
.tbl_wrap.type_list .title {overflow: hidden; padding-left: 10px; text-overflow: ellipsis; white-space: nowrap;}
.tbl_wrap.type_list .date,
.tbl_wrap.type_list .count,
.tbl_wrap.type_list .title .class {color: #777;}
.tbl_wrap.type_list .title.book {padding-left: 0; text-align: center;}
.tbl_wrap.type_list .title .bul.rating {margin-right: 5px;}
.tbl_wrap.type_list .title .bul.rating, .tbl_wrap.type_list .title > a {vertical-align: middle;}
.tbl_wrap.type_list .date,
.tbl_wrap.type_list .count {margin-top: 6px;}
.tbl_wrap.type_list .title .class {margin-bottom: 8px;}
.tbl_wrap.type_list_thumb table {table-layout: fixed;}
.tbl_wrap.type_list_thumb td {padding: 20px 20px 20px 0;}
.tbl_wrap.type_list_thumb .no_data_message {text-align: center;}
.tbl_wrap.type_list_thumb .title {overflow: hidden; font-weight: bold; font-size: 18px; line-height: 1.25; text-overflow: ellipsis; white-space: nowrap;}
.tbl_wrap.type_list_thumb .info {margin-top: 25px;}
.tbl_wrap.type_list_thumb .info dl {overflow: hidden;}
.tbl_wrap.type_list_thumb .info dt, .tbl_wrap.type_list_thumb .info dd {float: left;}
.tbl_wrap.type_list_thumb .info dt {font-weight: bold;}
.tbl_wrap.type_list_thumb .info dd {color: #777;}
.tbl_wrap.type_list_thumb .info dd:before {content: ''; display: inline-block; height: 12px; margin: 0 8px; border-left: 1px solid #ddd; vertical-align: middle;}
.tbl_wrap.type_list_thumb .content_txt {overflow: hidden; margin-top: 22px; height: 70px; line-height: 1.8; color: #777;}
.tbl_wrap.type_info.apply table thead th {font-weight: normal;}
.tbl_wrap.type_info.apply table tbody td {color: #777;}
.tbl_wrap.type_info.apply .class_info {text-align: left;}
.tbl_wrap.type_info.apply .class_info p {margin-top: 5px;}
.tbl_wrap.type_info.apply .class_info p.class {color: #222;}
.tbl_wrap.type_info.apply .class_info .time {display: inline-block; margin-left: 5px; font-size: 12px; letter-spacing: -1px;}
.tbl_wrap.type_view table {table-layout: fixed; word-break: break-all;}
.tbl_wrap.type_view thead th {vertical-align: top;}
.tbl_wrap.type_view .bul.rating {margin-top: 3px;}
.tbl_wrap.type_view .title {padding-left: 20px;}
.tbl_wrap.type_view .title .class {color: #777; margin-bottom: 12px;}
.tbl_wrap.type_view .post_info {float: right; padding-right: 30px;}
.tbl_wrap.type_view .post_info dt, .tbl_wrap.type_view .post_info dd {display: inline; text-align: right; letter-spacing: -1px;}
.tbl_wrap.type_view .post_info dd {font-weight: normal; color: #666;}
.tbl_wrap.type_view .post_info dd + dt {margin-left: 30px;}
.tbl_wrap.type_view .post_info dd:before {content: ''; display: inline-block; height: 12px; margin:0 5px; border-left: 1px solid #ddd; vertical-align: -2px;}
.tbl_wrap.type_view .files_area {padding: 15px 25px 0; text-align: right;}
.tbl_wrap.type_view .files_area a:after {content:""; display: block;}
.tbl_wrap.type_view .text_area {padding: 20px; line-height: 1.6;}
.tbl_wrap.type_view .text_area img {max-width: 1160px;}
.tbl_wrap.type_view .text_area .sisa_mov {margin-bottom: 10px; text-align: center;}
.tbl_wrap.type_view .text_area .sisa_mov iframe {display: inline-block; margin: 0 auto;}
.tbl_wrap.type_view .answer .text_area {padding: 20px 20px 20px 70px; background-color: #f8f8f8;}
.tbl_wrap.type_view .answer .intro {font-weight: bold; color: #da2226;}
.tbl_wrap.type_view .answer .intro .bul {margin: 0 5px 0 -50px; vertical-align: -1px;}
.tbl_wrap.type_view .preview_list {margin-top: 50px; border-top: 1px solid #222; border-bottom: 1px solid #222;}
.tbl_wrap.type_view .preview_list li {overflow: hidden;}
.tbl_wrap.type_view .preview_list li:first-child {border-bottom: 1px solid #ddd;}
.tbl_wrap.type_view .preview_list li strong {display: block; float: left; width: 80px;  padding: 16px 0; background-color: #f9f9f9; text-align: center;}
.tbl_wrap.type_view .preview_list li .title {float: left; overflow: hidden; max-width: 950px; padding: 17px 20px; text-overflow: ellipsis; white-space: nowrap;}
.tbl_wrap.type_view .preview_list li .date {float: right; padding: 17px 20px; line-height: 14px;}
.tbl_wrap.type_write tbody th {padding: 20px 0 0 15px; text-align: left; vertical-align: top;}
.tbl_wrap.type_write tbody td {padding: 12px 0 12px 15px; text-align: left;}
.tbl_wrap.type_view .review_view tr:first-child th {padding: 20px 0 0; border-bottom: none;}
.tbl_wrap.type_view .review_view tr:first-child th:first-child {padding: 20px 0; border-bottom: 1px solid #dcdcdc;}
.tbl_wrap.type_view .review_view tr th {padding-top: 0;}
.tbl_wrap.type_view .review_view .bul.rating {vertical-align: middle; margin: 0 3px 0 0;}
.tbl_wrap.type_view .review_view .title_txt {vertical-align: middle; line-height: 18px;}
.tbl_wrap.type_view .review_view .photo {position: relative; width: 50px; height: 50px; margin-left: 30px;}
.tbl_wrap.type_view .review_view .photo .mask {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('../images/common/profile_mask.png') no-repeat 0 0;}
.tbl_wrap.type_view .review_view .photo img {width: 50px; height: 50px;}

/* faq */
.faq_list {border-top: 1px solid #222;}
.faq_list .search_box {margin-bottom: 0; border-top: 0 none;}
.faq_list li {border-bottom: 1px solid #ddd;}
.faq_list li a {overflow: hidden; display: block; padding: 15px 0;}
.faq_list li a span {float: left;}
.faq_list li a .bul_txt {margin-left: 22px; margin-right: -15px;}
.faq_list li a .txt {padding-left: 30px; max-width: 1000px;}
.faq_list li a .bul.open {float: right; margin-right: 20px;}
.faq_list li .answer {display: none; position: relative; padding: 15px 34px; border-top: 1px solid #ddd; background-color: #f9f9f9;}
.faq_list li .answer .faq_a {position: absolute; top: 17px; left: 16px;}
.faq_list li.open .answer {display: block;}
.faq_list li.open a .bul.open {background-position: -40px -50px;}
.faq_list .paging {padding-top: 16px;}

/* reply */
.reply_box {padding-top: 25px; color: #777;}
.reply_box .reply_tit {margin-bottom: 5px; font-weight: bold;}
.reply_box .reply_area {position: relative; padding: 10px 0; border-top: 1px solid #222; border-bottom: 1px solid #ddd;}
.reply_box .reply_area textarea {width: 1050px; height: 62px; resize: none; color: #777;}
.reply_box .reply_area .byte_check { position: absolute; bottom: 17px; right: 140px; font-size: 12px; color: #999;}
.reply_box .reply_area .button {float: right; width: 125px;}
.reply_box .reply_area .button a {padding: 28px 0;}
.reply_box .reply_list td {border-bottom: 1px dotted #ddd;}
.reply_box .reply_list .reply_txt {width: 896px; padding: 16px 20px; line-height: 24px; word-break: break-all;}

/* common module */
.search_box {overflow: hidden; padding: 30px 0 30px 30px; margin-bottom: 30px; border-top: 2px solid #da2226; border-bottom: 1px solid #ddd; background-color: #f9f9f9;}
.search_box label, .search_box .label {margin-right: 5px; font-size: 15px; font-weight: bold; line-height: 32px;}
.search_box * + label, .search_box * + .label,
.search_box span.option + span.option {margin-left: 20px;}
/*.search_box span.option + span.option {margin-left: 30px;}*/
.search_box div.option + div.option {margin-top: 15px;}

.message_box {padding: 35px 0; font-weight: bold; font-size: 18px; text-align: center; border: 10px solid #f8552f; color: #777; letter-spacing: -1px;}
.message_box .message_tit {font-size: 30px; color: #222; line-height: 1;}
.message_box p {margin-top: 10px;}

.box_area {display: table; width: 100%; border: 1px solid #ddd;}
.box_area .box_section {display: table-cell; padding: 30px; font-size: 14px; color: #777;}
.box_area .box_tit {margin-bottom: 28px; font-weight: bold; font-size: 15px; color: #222;}
.box_area .box_section + .box_section {border-left: 1px solid #ddd;}
.box_area .box_section li, .box_area .box_section dl {margin-top: 6px; line-height: 1.8;}
.box_area.type_notice .box_section {padding: 20px; font-size: 13px;}

.content_intro {position: relative; min-height: 280px; margin: -12px 0 20px; background: url("../images/common/content_intro_bg.gif") repeat 0 0;}
.content_intro .intro_img {text-align: center;}
.content_intro .sub_txt {position: absolute; left: 0; bottom: 0; width: 100%; padding: 8px 0; background: url("../images/common/opacity50.png") repeat 0 0; color: #fff; text-align: center;}
.content_intro .sub_txt p {line-height: 1.5;}

.content_tit {margin-bottom: 14px; font-size: 18px; font-weight: bold; text-align: left;}
.content_tit2 {margin-bottom: 14px; font-size: 18px; font-weight: bold; text-align: left;}
.tit_description {margin-bottom: 14px; font-size: 14px; color: #777;}
.content_description {margin-bottom: 14px; font-size: 14px; color: #777;}
.content_description li {padding-left: 12px; line-height: 1.5; margin-bottom: 5px;}
.content_description .hyphen:before {content: '-'; float: left; display: inline-block; margin-left: -12px;}
.content_description .dot:before {content: '·'; float: left; display: inline-block; margin-left: -12px;}
* + .content_tit {margin-top: 60px;}
.content_tit.type_bul {margin-top: 80px; margin-bottom: 30px;}
.content_tit.type_bul:before {content: '';display: block; width: 12px; height: 3px; margin-bottom: 20px; background-color: #da2226;}
* + .content_tit.type_bul {margin-top: 50px;}
* + .content_tit2 {margin-top: 60px;}
.content_tit2.type_bul {margin-top: 80px; margin-bottom: 30px;}
.content_tit2.type_bul:before {content: '';display: block; width: 12px; height: 3px; margin-bottom: 20px; background-color: #da2226;}
* + .content_tit2.type_bul {margin-top: 50px;}
.content_sub_tit {margin: 30px 0 20px; font-weight: bold; font-size: 14px; font-weight: bold;}
.content_sub_tit .round_r {margin-right: 4px;}
.section_agree {border-top: 1px solid #282828; padding: 10px 0;}
.section_agree .article {background: #f7f7f7;}
.agree_check {text-align: right;}
.agree_check input[type=radio] {margin-left: 15px;}
.agree_check label {font-weight: bold;}
.btn_area {overflow: hidden; padding-top: 10px; text-align: center;}

.result_graph {width: 204px; height: 54px; padding: 75px 0; text-align: center; line-height: 54px; background-image: url("../images/common/graph.png"); background-repeat: no-repeat; background-position: 0 0;}
.result_graph.graph_10 {background-position: -250px 0;}
.result_graph.graph_20 {background-position: -500px 0;}
.result_graph.graph_30 {background-position: -750px 0;}
.result_graph.graph_40 {background-position: -1000px 0;}
.result_graph.graph_50 {background-position: -1250px 0;}
.result_graph.graph_60 {background-position: 0 -250px;}
.result_graph.graph_70 {background-position: -250px -250px;}
.result_graph.graph_80 {background-position: -500px -250px;}
.result_graph.graph_90 {background-position: -750px -250px;}
.result_graph.graph_100 {background-position: -1000px -250px;}
.result_graph.graph_0 {background-position: -1250px -250px;}
.result_graph span {font-size: 15px;}
.result_graph span strong {font-size: 65px; color: #da2226;}
.graph_bar {display: inline-block; width: 450px; background-color: #f2f2f2; text-align: left !important;}
.graph_bar em {display: inline-block; width: 0; height: 35px; vertical-align: top; background: url("../images/common/graph_bar.jpg") no-repeat 0 0;}

.level_recommend {margin-bottom: 75px;}
.level_recommend .title {padding: 15px 0; font-weight: bold; font-size: 18px; line-height: 1.3; text-align: center;}
.level_recommend ul {overflow: hidden; margin: -14px 0 0 -3%;}
.level_recommend li {float: left; width: 30%; margin: 14px 0 0 3% !important; padding: 28px 0; height: 186px; text-align: center !important; border: 1px solid #ddd; background: url('../images/application/bg_recommend.gif') no-repeat 0 0;}
.level_recommend li strong {color: #222;}
.level_recommend li .name {height: 120px; padding-top: 30px; font-size: 25px; line-height: 1.3; color: #da2226;}
.level_recommend li .name em {display: block;}
.level_recommend li .view_detail {display: inline-block; padding-right: 20px; font-weight: bold; background: url('../images/common/bul_arrow.png') no-repeat 100% 50%; color: #da2226;}

/* 레벨테스트 */
.my_leveltest .btn_leveltest {margin-top: -40px; text-align: right;}
.my_leveltest .graph_area {position: relative; min-height: 204px; border: 1px solid #ddd; padding: 30px 0 30px 420px;}
.my_leveltest .graph_area .result_graph {position: absolute; top: 30px; left: 180px;}
.my_leveltest .graph_area .detail dt {width: 100px;}
.my_leveltest .graph_area .detail dd + dd {width: 60px;}
.my_leveltest .graph_desc {position: relative; margin: 30px 0; min-height: 37px; font-size: 14px; color: #777;}
.my_leveltest .graph_area .detail dl {overflow: hidden; padding: 7px 0;}
.my_leveltest .graph_area .detail dt, .my_leveltest .graph_area .detail dd {float: left; line-height: 35px;}
.my_leveltest .graph_area .detail dt {font-weight: bold;}
.my_leveltest .graph_area .detail dd {color: #777;}
.my_leveltest .graph_area .detail dd + dd {text-align: center;}

/* SKIP */
#skipnavi {position:fixed; left:0; top:0; width:100%; z-index:900;}
#skipnavi a {position:absolute; left:0; top:-9999px; display:block; width:100%; height:30px; color:#fff; font-size:13px; font-weight:bold; line-height:30px; text-align:center; background:#000;}
#skipnavi a:focus, #skipnavi a:active {top:0;}
#skipnavi a:hover {text-decoration:underline;}

/* LAYOUT */
#wrap {position: relative; overflow: hidden; min-width: 1200px;}
.inner_wrap {width: 1200px; margin: 0 auto;}
#header {position: relative; /* background: #dd3639 url('../images/common/bg_header.jpg') no-repeat center 0; */ background-color: #dd3639; z-index: 999;}
#header .logo {overflow: hidden; position: absolute; top: 0; left: 0; width: 196px; height: 100%; background-color: #fff;}
#header .utility_wrap {overflow: hidden; /* background-color: #da2226; */ height: 21px; padding: 22px 0;}
#header .utility_wrap a {display: inline-block; font-size: 11px; line-height: 21px; color: #fff; }
#header .utility_wrap .bul {vertical-align: middle;}
#header .utility_wrap .cat_menu {float: left;}
#header .utility_wrap .cat_menu a {margin-right: 10px;}
#header .utility_wrap .info_menu {float: right;}
#header .utility_wrap .info_menu > a {margin-right: 15px;}
#header .utility_wrap .info_menu > a .bul {vertical-align: top;}
#gnb {/* background-color: #da2226; */}
#gnb .gnb_wrap {position: relative;}
#gnb .gnb_title {padding-left: 300px; background-color: #fff;}
#gnb .gnb_title:after {content:''; display: block; clear: both;}
#gnb .gnb_title li {float: left; padding-right: 30px;}
#gnb .gnb_title a {position: relative; display: block; padding: 0 30px; font-size: 15px; font-weight: bold; color: #222;}
#gnb .gnb_title .active {color: #da2226;}
#gnb .gnb_title a span {display: block; height: 15px; padding: 30px 0;}
#gnb .gnb_title a:hover,
#gnb .gnb_title .on a {background-color: #000; color: #fff;}
#gnb .gnb_title a:hover span,
#gnb .gnb_title .on a span {padding: 30px 0 25px; border-bottom: 5px solid #da2226;}
#gnb .util_mynote {position: absolute; top: 0; left: 1125px; background-color: #2d2e2e;}
/*#gnb .util_search {position: absolute; top: 0; right: 0; background-color: #f1f1f1;}*/
.gnb_category {position: absolute; top: 140px; left: 0; width: 100%; background-color: #000; text-align: center; z-index: 9;}
.gnb_category .category_wrap {display: none; margin: 0 auto; padding: 30px 0;}
.gnb_category .category_wrap.on {display: table;}
.gnb_category .category_wrap a {display: inline-block; margin-right: 20px; color: #adadad;}
.gnb_category .category_wrap .category {position: relative; float: left; min-width: 130px; height: 144px; padding-left: 17px; border-left: 1px solid #292929; text-align: center;}
.gnb_category .category_wrap .category.type_text {text-align: left;}
.gnb_category .category_wrap .category .cat_tit {margin-top: -3px;}
.gnb_category .category_wrap .category .cat_tit a {font-weight: bold; font-size: 18px; line-height: 1.25;}
.gnb_category .category_wrap .category .cat_tit .cat_img {display: block; margin-top: 8px;}
.gnb_category .category_wrap .category ul {float: left; margin-top: 10px;}
.gnb_category .category_wrap .category ul + ul {margin-left: 15px;}
.gnb_category .category_wrap .category li {margin-top: 6px; line-height: 1; text-align: left;}
/* 스크롤 이동시 */
.fixed_header #container {padding-top: 215px;}
.fixed_header #header {position: fixed; top: 0; left: 0; width: 100%;}
.fixed_header #header .logo {background-color: #f1f1f1;}
.fixed_header #header .utility_wrap {display: none; position: absolute; bottom: 0; left: 0; width: 100%; padding: 7px 0;}
.fixed_header #header.on {padding-bottom: 35px;}
.fixed_header #header.on .utility_wrap {display: block; background-color: #da2226;}
.fixed_header #header.on #gnb {/*padding-bottom: 35px;*/}
.fixed_header #gnb,
.fixed_header #gnb .gnb_title {background-color:#2d2e2e;}
.fixed_header #gnb .gnb_title a {color: #fff;}
.fixed_header #gnb .gnb_title .active {color: #da2226;}
.fixed_header #gnb .util_mynote {background-color: #da2226;}
.fixed_header .gnb_category {position: relative; top: 0;}


#container {min-height: 800px; padding-bottom: 100px;}
#container .sub_menu {height: 42px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
#container .sub_menu .inner_wrap {overflow: hidden;}
#container .sub_menu .menu_tit {float: left; display: table; width: 149px; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; }
#container .sub_menu .menu_tit h2 {position: relative; top: -1px; display: table-cell; height: 48px; background-color: #da2226; z-index: 2; vertical-align: middle; text-align: center;}
#container .sub_menu .menu_tit h2 a {font-size: 18px; color: #fff;}
#container .sub_menu ul {}
#container .sub_menu li {float: left; display: table; width: 174px; height: 42px; margin-left: -1px; border: 1px solid #e6e6e6; border-top: 0 none;}
#container .sub_menu li a {display: table-cell; padding: 12px 0; font-weight: bold; color: #777; text-align: center; letter-spacing: -1px; vertical-align: middle;}
#container .sub_menu li.on a {color: #da2226;}
#container .sub_menu.type_4ea .menu_tit,
#container .sub_menu.type_4ea li {width: 224px;}
#container .sub_menu.type_5ea .menu_tit {width: 189px;}
#container .sub_menu.type_5ea li {width: 186px;}
#container .sub_menu.type_6ea li {width: 161px;}
#container .sub_menu.type_6ea li:first-child {width: 164px;}
#container .sub_menu.type_7ea li {width: 138px;}
#container .sub_menu.type_7ea li:first-child {width: 140px;}
#container .sub_menu.type_8ea .menu_tit {width: 148px;}
#container .sub_menu.type_8ea li {width: 121px;}
#container .sub_menu.type_9ea .menu_tit {width: 145px;}
#container .sub_menu.type_9ea li {width: 116px;}

/* 2015.10.30 skw 추가*/
#container .sub_menu.type_10ea .menu_tit {width: 98px;}
#container .sub_menu.type_10ea li {width: 109px;}

#container .sub_menu.type_lecture {height: 187px;} /* 16.06.07.sym */
#container .sub_menu.type_lecture .menu_tit h2 {height: 193px;} /* 16.06.07.sym */
#container .sub_menu.type_lecture li {height: 62px;}
#container .sub_menu.line_3ea {height: 80px;}
#container .sub_menu.line_3ea .menu_tit h2{height: 86px;}
#container .sub_menu.line_3ea li,
#container .sub_menu.line_3ea li:first-child {height: 80px;}
#container .sub_menu.type_lecture.line_3ea {height: 161px;}
#container .sub_menu.type_lecture.line_3ea .menu_tit h2 {height: 167px;}


#container .content {position: relative; z-index: 1;}
#container .content .sub_tit {height: 165px; margin-bottom: 40px; border-bottom: 1px solid #ddd; color: #777; text-align: center;}
#container .content .sub_tit h2,
#container .content .sub_tit h3 {padding: 65px 0 8px; font-size: 14px;}
#container .content .sub_tit .loc {float: right; margin-top: -18px; padding-right: 20px; font-size: 12px;}
#container .content .sub_tit .loc strong {color: #2d2e2e;}
#container .content .sub_tit.sub_bg1 {background: url('../images/common/sub_tit_bg01.gif') no-repeat 0 0;}
#container .content .sub_tit.sub_bg2 {background: url('../images/common/sub_tit_bg02.gif') no-repeat 0 0;}
#container .content .sub_tit.sub_bg3 {background: url('../images/common/sub_tit_bg03.gif') no-repeat 0 0;}
#container .content .sub_tit.sub_bg4 {background: url('../images/common/sub_tit_bg04.gif') no-repeat 0 0;}
#container .content .sub_tit.sub_bg5 {background: url('../images/common/sub_tit_bg05.gif') no-repeat 0 0;}
#container .content .sub_tit.sub_bg6 {background: url('../images/common/sub_tit_bg06.gif') no-repeat 0 0;}
#container .content .sub_tit.sub_bg7 {background: url('../images/common/sub_tit_bg07.gif') no-repeat 0 0;}
#container .content .content_menu {margin-bottom: 30px;}

#footer .family_site {padding: 5px 0; border-top: 1px solid #ddd;}
#footer .family_site .inner_wrap {overflow: hidden;}
#footer .family_site a {float: left;}
#footer .family_site a + a {margin-left: 115px;}
#footer .footer_cont {padding: 30px 0 40px; border-top: 2px solid #da2226; background: #333;}
#footer .site_map {position: relative; overflow: hidden; margin-bottom: 25px; padding-bottom: 30px; /*padding-left: 180px;*/ border-bottom: 1px solid #484848;}
#footer .site_map .footer_logo {float: left;}
#footer .site_map .menu_wrap {float: right;}
#footer .site_map .category_wrap {float: left; min-width: 100px; padding-left: 40px;}
#footer .site_map .category_wrap .menu_tit {margin-bottom: 14px;}
#footer .site_map .category_wrap .menu_tit a {font-weight: bold; font-size: 12px; color: #999;}
#footer .site_map .category_wrap li {line-height: 1.25;}
#footer .site_map .category_wrap li a {font-size: 11px; color: #777;}
#footer .site_info {position: relative;}
#footer .site_info .footer_menu a,
#footer .site_info .footer_menu span {font-weight: bold; font-size: 12px; color: #999;}
#footer .site_info .footer_menu a:before {content: ''; display: inline-block; width:1px; height: 10px; margin: 4px 7px 0 5px; background-color: #999; vertical-align: top;}
#footer .site_info .campus {padding: 15px 0;}
#footer .site_info .campus dl {overflow: hidden;}
#footer .site_info .campus dt,
#footer .site_info .campus dd {float: left; line-height: 1.8; font-size: 11px; color: #999; letter-spacing: -1px;}
#footer .site_info .campus dd + dt:before {content: "/"; padding: 0 5px;}
#footer .site_info .campus dd:before {content: ":"; padding: 0 3px;}
#footer .site_info .copy {font-size: 11px; color: #777;}
#footer .site_info .sns_share {position: absolute; top: 0; right: 170px;}
#footer .site_info .franchise {position: absolute; top: 0; right: 0; width: 150px; background-color: #fff;}
#footer .site_info .franchise a {display: block; padding-left: 10px; font-size: 11px; line-height: 20px; color: #777;}
#footer .site_info .franchise a:hover,
#footer .site_info .franchise a:focus,
#footer .site_info .franchise a:active {text-decoration: none; color: #da2226;}
#footer .site_info .franchise > a {display: block; padding-right: 20px; background: url("../images/common/footer_franchise_arrow.gif") no-repeat 100% 0;}
#footer .site_info .franchise div {position: absolute; left: 0; bottom: 20px; display: none; width: 148px; padding: 5px 0; background: #fff; border: 1px solid #c7c7c7;}
#footer .site_info .franchise.open > a {background-position: 100% 100%;}
#footer .site_info .franchise.open div {display: block;}

.side_quick {position: absolute; top: 100px; left: 1250px; width: 185px;}
.side_quick_wrap {position: relative; z-index: 99;}
.side_quick .banner {display: table; width: 100%; height: 70px; margin: 15px 0; background-color: #f3f3ed;}
.side_quick .banner a {display: table-cell; padding: 0 20px; font-weight: bold; color: #2e2e2e; background: url("../images/common/sidequick_arrow1.png") no-repeat 140px 50%; vertical-align: middle; text-decoration: none;}
.side_quick .banner_review {height: 185px; background: url("../images/common/bg_sidequick_review.gif") no-repeat 0 0; font-weight: bold;}
.side_quick .banner_fontdown {height: 80px; background: url("../images/common/bg_sidequick_review.gif") no-repeat 0 0; background-position: 0 -38px;}
.side_quick .banner_review a,
.side_quick .banner_fontdown a {display: block; padding: 20px; color: #fff; text-decoration: none;}
.side_quick .banner_fontdown a {height: 40px; padding: 20px 15px;}
.side_quick .banner_review span,
.side_quick .banner_fontdown span {display: block; font-weight: normal;}
.side_quick .banner_review .btn_go {display: block; padding: 5px 0; background: url("../images/common/sidequick_arrow2.png") no-repeat 100% 50%;}
.side_quick .banner_fontdown .btn_go {display: inline-block; float: right; width: 23px; height: 23px; background: url("../images/common/sidequick_arrow2.png") no-repeat 100% 50%; text-indent: -9999px;}
.side_quick .banner_review .count {display: block; margin-bottom: 15px; font-size: 36px; line-height: 2;}
.side_quick .banner_fontdown .txt {display: block; margin: 0px 0; font-size: 20px; line-height: 1.2; letter-spacing: -1px;}
.fixed_header .side_quick {top: 100px;}
.side_quick.fixed_bottom {top: inherit; bottom: 550px;}
.container_left #wrap {min-width: 1450px;}
.container_left .inner_wrap {padding-right: 250px;}

/* popup */
#smartPop_overlay {display:block; overflow:hidden; position:fixed; background-color:rgba(252, 252, 252, .75); top:0; right:0; bottom:0; left:0; z-index:100000; cursor:wait;}
#smartPop {display:none; position:fixed; top:0; right:0; bottom:0; left:0; overflow-x:auto; overflow-y:scroll; z-index:100004;}
#smartPop_container {position: relative; margin:9px auto 100px auto; max-width:1300px; padding:0px; width:720px; height:500px; z-index:2; overflow:hidden;}

#smartPop_content {display:none; padding:0; overflow:hidden; background:#fff;}
#smartPop_frame {display:none; width:100%; height:100%; background:#fff;}
#smartPop_log {display:none; position:fixed; top:10px; left:10px; overflow:auto; width:200px; height:400px; background:#fff; border:solid 1px #444; padding:10px; z-index:3;}

#smartPop_close_wrap {position: absolute; top: 0; right: 0;}
#smartPop_close {display: block; width: 60px; height:60px; background: #b60004 url('../images/btn/popup_close.png') no-repeat center center;}

.popup_wrap .popup_title {padding: 20px 60px 20px 30px; height: 20px; font-size: 18px; line-height: 20px; font-weight: bold; color: #fff; background-color: #da2226;}
.popup_wrap .popup_content {padding: 30px;}

/* 약관 */
.article iframe {width: 100%;}
.clause_area {padding: 10px; background: #f7f7f7; line-height: 24px; color: #777; word-wrap: break-word; word-break: break-word;}
/* .clause_area p {font-size: 12px; color: #222;}
.clause_area strong {font-size: 13px; color: #222;} */

.printing, .printing body {max-width: 210mm; width: 210mm;}
@media print {
	.printing #header, .printing  #footer, .printing .side_quick, .printing .sub_menu, .printing .sub_tit {display: none;}
	html, body {max-width: 210mm; width: 210mm; height: 297mm; margin: 0; font-size: 100% !important;}
}
@media print and (-webkit-min-device-pixel-ratio:0) {
	* { -webkit-print-color-adjust: exact; font-size:.75em;}
	.tbl_wrap.type_info th, .tbl_wrap.type_info td {font-size: .875em;}
	.tbl_wrap.type_info td {padding: 1.25em;}
	.popup_wrap .popup_content {padding: 1.875em;;}
}