@CHARSET "UTF-8";

#ej_disc{
width: 900px;
}
#ej_sc{
float: right;
}

#ej_boader{
float: left;
min-height: 380px;
width: 900px;

}
.ej_title>span,.ej_row>span,.ej_date>span{

display: inline-block;

line-height: 33px;
}
#ej_sce{
	min-height: 760px;
}

.ej_title>span:nth-child(1){width: 140px;}
.ej_title>span:nth-child(2){width: 300px;}
.ej_title>span:nth-child(3){width: 140px;}
.ej_title>span:nth-child(4){width: 140px;}
.ej_title>span:nth-child(5){width: 140px;}
.ej_date>span:nth-child(1){width: 140px;}
.ej_date>span:nth-child(2){width: 300px;}
.ej_date>span:nth-child(3){width: 140px;}
.ej_date>span:nth-child(4){width: 140px;}
.ej_date>span:nth-child(5){width: 140px;}
.ej_row>span:nth-child(1){width: 140px;}
.ej_row>span:nth-child(2){width: 300px;}
.ej_row>span:nth-child(3){width: 140px;}
.ej_row>span:nth-child(4){width: 140px;}
.ej_row>span:nth-child(5){width: 140px;}

.ej_title{
float : left;
width: 900px;
background-color: #dfdfdf;
}

.ej_row{
float : left;
width: 900px;
}
.ej_date{
float : left;
width: 900px;
}

.ej_title>span{text-align: center;}
.ej_date>span{text-align: center;}
.ej_row>span{text-align: center;}

.ej_row:hover{
border-bottom-width: 1px;
border-bottom-style: solid;
}
#ej_main{
float: left;
width: 900px;
}
#ej_but{
float: right;
}