@CHARSET "UTF-8";
.cont {width:100%;margin-top:15px;}
	.cont:after {display:block;clear:both;content:'';}
	
	.cont .lnb {width:300px;min-height:500px;background-color:green;}
	.cont .view {width:998px;border:2px solid #e7e7e7;padding:10px 10px 0 10px;}

	.cont div div > p {display:inline-block;vertical-align:middle;font-size:12px;line-height:14px;color:#5e5e5e;}

	.cont .tit_area {border-bottom:1px dashed #e7e7e7;}
	.cont .tit_area:after {display:block;clear:both;content:'';}
	.cont .tit_area .tit {font-size:14px;font-weight:bold;color:#464646;}
	.cont .tit_area .category {padding-left:5px;border-left:1px solid #939393;margin-left:3px;}
	.cont .tit_area div.r {margin-top:5px;}
	.cont .tit_area div.r > p {color:#a6a6a6;font-size:11px;}
	
	.cont .info_area{padding:10px 0;}
	.cont .info_area:after {display:block;clear:both;content:'';}
	.cont .info_area div {display:table;height:24px;}
	.cont .info_area div p {display:table-cell;vertical-align:middle;}
	.cont .info_area div p:first-child {font-size:14px;font-weight:bold;padding-right:5px;}
	.cont .info_area div.r a {color:#a0a0a0;font-size:12px;text-decoration:none;display:table-cell;vertical-align:middle;}
	.cont .info_area div.r button {color:#565656;font-size:8px;letter-spacing:-1px;width:50px;margin-left:5px;background:none;border-radius:3px;border:1px solid #b6b6b6;display:table-cell;vertical-align:middle;}
	
	.cont_area {font-size:14px;line-height:22px;padding:15px 0 30px;}

	.coments_area {background-color:#f9f9f9;padding:15px 10px;width:998px;margin-left:-10px;}
	.coments_area .coments .cmts_info p:first-child {font-size:14px;font-weight:bold;color:#464646;padding-right:5px;}
	.coments_area .coments .cmts_cont {font-size:13px;line-height:20px;padding-bottom:15px;border-bottom:1px dashed #e7e7e7;}
	.coments_area form {margin-top:15px;}
	.coments_area fieldset {border:0;margin:0;padding:0;}
	.coments_area textarea {vertical-align:middle;}
	.coments_area .button {vertical-align:middle;width:77px;height:51px;}	
	#content > p{display: block;}