@charset "utf-8";

body,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,button,select,ul,li,ol {margin:0; padding:0;}
ul, li, ol {list-style:none;}
input {outline:0}
a, a:visited {text-decoration:none; color:#353535;}
table {border-collapse:collapse}
body {font:12px "nanum gothic","나눔고딕",sans-serif}

/* banner */
#mainimg {height:300px; background:black url(images/visual02.jpg) no-repeat center center; }

/* content */
#mainWrap {width:1000px; margin:0 auto; } 

#mainWrap h3 {border-bottom:1px solid #ff6600; padding:10px 0;}
#mainWrap h3 strong {font-size:20px;}

#photoVideo li{display:inline-block;margin:0 6px;}
#photoVideo li .photo {padding:10px 0px;}

#aboutchicago {background:black; width:990px; height:20px; padding:10px 0 10px 10px; margin:10px 0; color:white;}
#aboutchicago h2 span {color:yellow;}

#img {width:1000px; font-weight:900;}
#img #imgleft {float:left; width:340px; }
#img #imgcenter{float:left; width:300px; margin:0 10px;}
#img #imgright {float:right; width:340px;}
#img img {width:100%;}
#img .Aimg {text-align:center;margin-bottom:10px;}