@charset "utf-8";

/*영문폰트*/
@import url(http://fonts.googleapis.com/css?family=Pacifico);
/*font-family: 'pacifico', cursive; */

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/*font-family: 'Indie+Flower', cursive; */

/*한글폰트*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
/*font-family: 'Nanum Brush Script', cursive; */


@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: 'Nanum Gothic', sans-serif; */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
/*font-family: 'Nanum Gothic Coding', monospace; */


@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/*font-family: 'Nanum Myeongjo', serif; */

@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
/*font-family: 'Nanum Pen Script', cursive; */

