 ul, dl,dt,dd {list-style-type: none;margin: 0;padding-left: 0;}

/*containter*/
 .block {margin: 25px 25px 0 0;background: #6a4529;border-radius: 5px;float: left;width: 720px;overflow: hidden;}
 .line-chart-block, .bar-chart-block {height:400px;}

/*line*/
.line-chart {width:634px;height: 340px;margin:0 auto;}

.grafico {padding: 2rem 1rem 1rem;width: 100%;height: 100%;position: relative;color: #fff;font-size: 80%;}

[class^='eje-'] {position: absolute;left: 0;bottom: 0rem;width: 100%;padding: 1rem 1rem 0 2rem;height: 80%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-anchor: middle; font-family: Arial;font-size: 13;stroke: none;stroke-width: 0;fill: rgb(108, 117, 138);}

.eje-y li {height: 20%;border-top: 1px solid #FFF;}
[data-ejeY]:before {content: attr(data-ejeY);display: inline-block;width: 2rem;text-align: right;line-height: 0;position: relative;left: -2.9rem;top: -.5rem;}


.eje-x {height: 2.5rem;}
.eje-x li {width: 14%;float: left;text-align: center;}

.grafico span {display: block;position: absolute;left: 73px;height: 0;border-top: 2px solid #ff0080;transform-origin: left center;}
.grafico span > span {left: 100%;bottom: 0;}


.grafico .line01 {width: 90px; transform: rotate(3deg);}
.grafico .line02 {width: 83px; transform: rotate(12deg);}
.grafico .line03 {width: 160px; transform: rotate(43deg);}
.grafico .line04 {width: 147px; transform: rotate(-110deg);}
.grafico .line05 {width: 110px; transform: rotate(90deg);}
.grafico .line06 {width: 120px; transform: rotate(-80deg);}
