body {font-size:10px; font-family: NanumBarunGothic, "돋움", dotum, sans-serif;color:#333}
body, div, p, ul, li, ol, fieldset, img, h3, h2, h1, h4, h5, h6, dd, dt,dl,em { margin:0;padding:0; border:0;  line-height: 8px;}
ul, li, ol{list-style:none;} 
input,textarea{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
a {text-decoration:none;}
a:link{color:black;}
a:visited{color:black;}
img{width:100%; height:auto;}
em{font-style:normal;}

.head{width:100%; position:fixed; z-index:9; background-color:#fff; border-bottom: 1px solid #e7e7e7;}
.head .logo{width:53px;height:80px; display:inline-block;cursor:pointer;}
.head .logo img{width:auto;height:80px; display:inline-block;}

.head .nav {width:81%; max-width:1077px;}
.head .nav:after{clear:both; display:block; content:"";}
.head .nav li{display:table; float:left; height:80px; width:25%; text-align:center;}
.head .nav li a{display:table-cell; vertical-align:middle; font-size:18px;font-weight:bold;text-transform:uppercase; cursor:pointer;}
.head .search{position:relative;height:52px; width:13%; max-width:170px;}
.head .search input{display:inline-block; height:30px; padding:5px 33px 5px 5px; margin:25px auto;width:100%;}
.head .search .ic_search{position:absolute; top:25px; right:5px; width:22px; height:30px; background:url(img/search.png) no-repeat 0 0; cursor:pointer;}

.footer{background:rgba(51, 42, 42, 0.8);width:100%; height:100px;}
.footer p {color:#fff; font-size:16px; font-weight:bold; text-align:center; line-height:1.25em; padding-top:30px;}

.wrap{width:100%; min-height:500px; overflow:hidden; padding:150px 0 50px;}

/*section*/
.section {width:100%; min-height:400px; margin: 0 auto; overflow:hidden;}
.content{max-width:1300px; margin: 0 auto;}
.content:after{clear:both; display:block;content:"";}
.fl{float:left;}
.fr{float:right;}


/*skin1*/
.skin1 .slide_area{width:50%;max-height:600px;}
.skin1 .slide_area .bx-wrapper{position:relative;}
.skin1 .slide_area .bxslider li img{width:100%;}
.skin1 .slide_area .bx-controls{position:absolute; bottom:10px; left:0; z-index:2; width:100%;}
.skin1 .slide_area .bx-pager {width:100%; text-align:center;}
.skin1 .slide_area .bx-pager .bx-pager-item{display:inline-block; margin: 0 5px;}
.skin1 .slide_area .bx-pager .bx-pager-item a{background:url(img/navi.png) no-repeat 0 0; width:20px;height:20px; display:inline-block; text-indent:-99999em;}
.skin1 .slide_area .bx-pager .bx-pager-item a.active{background-position: 0 -20px;}
.skin1 .slide_area .bx-controls-direction{display:none;}

.skin1 .menu_area{width:25%;max-height:600px;}

.skin1 .menu_area li{height:33.3%;max-height:200px;}
.skin1 .menu_area li a{position:relative;width:100%;max-height:200px;display:inline-block;}
.skin1 .menu_area li a span{position:absolute;top:50%; margin-top:-20px;width:100%; height:40px; text-align:center; font-size:30px; line-height:40px; color:#fff; font-weight:bold;text-transform:uppercase;text-shadow: 3px 3px 10px #000;z-index:2;}
.skin1 .menu_area li img{width:100%;height:auto;}
.skin1 .menu_area li img.over{position:absolute;top:0;left:0;z-index:1;}
.skin1 .menu_area li:hover img.over{display:none;}

.skin1 .news_area {width:25%;max-height:600px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;padding:10px 0 0 15px;}
.skin1 .news_area .tit{ font-size:20px; font-weight:bold; border-bottom: 3px solid #88614e; padding-bottom:10px;}
.skin1 .news_area .tit:after{clear:both;content:"";display:block;}
.skin1 .news_area .tit span{display:inline-block; line-height:20px;}

.skin1 .news_area ul{height:100%; max-height:557px; overflow:hidden;}
.skin1 .news_area li{height:33.3%; max-height:172px; overflow:hidden; border-top: 1px dashed #838383; padding-bottom:15px;}
.skin1 .news_area li:first-child{border:0;}
.skin1 .news_area li a:hover{text-decoration:underline;}
.skin1 .news_area dl {color:#626262;font-size:14px;}
.skin1 .news_area dl dt{font-weight:bold; line-height:1.2em;  min-height:16px; margin:10px 0 5px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;}
.skin1 .news_area dl dd{line-height:1.3em; max-height:128px; overflow:hidden;}

/*skin2*/

.c_tit{text-align:center; margin:31px 0 50px; font-size:50px; line-height:1.5em;}
.c_tit_b{display:block; width:110px; margin:0 auto; border-top: 5px solid #88614e; }

.skin2 .about_area{position:relative; left:50%; margin-left:-1300px;background:#fbf7f5 url(img/pattern.png); padding:20px 0; width:2600px;}
.skin2 .about_area.about_bottom .content >.fl{float:right;}
.skin2 .about_area .content{max-width:1300px;}
.skin2 .about_area:after{clear:both;content:"";display:block;}
.skin2 .about_area .about_m{width:30%; margin-top:110px;}
.skin2 .about_area .about_m p{font-size:40px; font-weight:bold; line-height:1em;  margin-left:20px;}
.skin2 .about_area .about_m ul{width:220px; margin:50px 0 0 20px;}
.skin2 .about_area .about_m ul li a{display:inline-block; background:url(img/ic.png) no-repeat 0 10px;font-size:20px;  font-weight:bold; line-height:1.7em; text-indent:20px;}

.skin2 .about_area .about_b{ width:70%;}
.skin2 .about_area .about_b:after{clear:both;content:"";display:block;}
.skin2 .about_area .about_b .fl{width:35%; }
.skin2 .about_area .about_b .fr{padding-left:10px; width:65%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.skin2 .about_area .about_b .fr p img:first-child{margin-bottom:10px;}
.skin2 .about_area .about_b div p{cursor:pointer}
.skin2 .about_area .about_b div p img{position:relative; display:block;}
.skin2 .about_area .about_b div p{position:relative;}
.skin2 .about_area .about_b div p span{display:none; position:absolute; top:0;left:0;background-color:#333; opacity:0.4; width:100%; height:100%; z-index:2; text-align:center;}
.skin2 .about_area .about_b div p span em{ position:absolute; top:50%;left:0; margin-top:-30px; width:100%; text-align:center; font-size:50px; font-weight:bold; line-height:1.2em; color:white;}
.skin2 .about_area .about_b div p:hover span{display:block;}

.skin3 .meun_list:after{clear:both; display:block; content:"";}
.skin3 .meun_list li {background-color:#dddddd; width:49%; float: left; height:250px; margin: 0 0.5% 1%; }
.skin3 .meun_list li a{position:relative; display:block; width:100%;height:100%; background-repeat:no-repeat; background-position:center center;cursor:pointer;}
.skin3 .meun_list li a .sc{position:absolute; top:0;left:0; width:50%;height:100%; background:rgba(255,255,255,0.3); text-align:center;text-transform:uppercase;}
.skin3 .meun_list li a .sc em{color:#fff;font-size:30px; font-weight:bold; line-height:1.2em; padding-top:30px; display:block;}
.skin3 .meun_list li a .sc span{color:#fff;font-size:20px; line-height:1.2em; padding-top:15px; display:block;}
.skin3 .meun_list li a .arrow{position:absolute; top:50%;left:50%; margin-top:-40px;  display:block; border-top: 40px solid transparent;border-right: 40px solid transparent;border-bottom: 40px solid transparent;border-left: 40px solid rgba(255,255,255,0.3);}

@media (max-width:1300px) {

.skin2 .about_area .content{max-width:1000px;}

}

@media (max-width:1024px) {
.head .nav{width:79%;}
.skin1 .slide_area{float:none;width:100%;max-height:none;}
.skin1 .menu_area{float:none;width:100%;}
.skin1 .menu_area li{float:left; width:33.3%;}

.skin1 .news_area{display:none;}

.skin2 .about_area{left:0; margin-left:0;width:auto;}
.skin2 .about_area.about_bottom .content>.fl{float:none;}
.skin2 .about_area .about_m{float:none; margin:10px 0 20px;}
.skin2 .about_area .about_m ul{display:none;}
.skin2 .about_area .about_b{float:none; width:90%; margin: 0 5%;}

}

@media (max-width:720px) {
.wrap{padding-top:160px;}

.head .logo{margin-left:10px;}
.head .nav{position:absolute; top:81px; background-color:#fff; width:100%;border-bottom: 1px solid #e7e7e7;}
.head .search{width:60%;max-width:200px; margin-right:10px;}	

.c_tit{margin:16px 0 35px; font-size:30px;}
.c_tit_b{width:60px;}

.skin1 .menu_area li a span{font-size:20px;}

.skin2 .about_area .about_m p{font-size:30px;}

.skin3 .meun_list li{float:none;margin:0 0 10px 0; width:100%;}
.skin3 .meun_list li a .sc em{font-size:20px;margin-top:20px;}
.skin3 .meun_list li a .sc span{font-size:16px;}
}